#content {
    min-height: 100px;
}

.ui.grid {
    padding: 0 !important;
}

/* response form ticketmaster's event lists 
.ui segment {
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
} */

.pushable.segment {
    margin: 0 !important;
}


.web-logo{
    font-size: 2em !important;
    line-height: 1.5em !important;
    margin-left:10px !important;
}

.mobile-page-title{
    text-align: center;
    width:100%;
    margin-left: -53.52px;
    margin-top: auto;
    margin-bottom:auto !important;
}

.desktop-page-title{
    text-align: center;
    margin-top: auto;
    margin-bottom:auto !important;
    margin-left:8px;
}

.hideItem{
    display:none;
    padding:0px;
    margin:0px;
    width:0% !important;
}

.flex-wrapper{
    width:100%;
    display: flex;
    /* position: -webkit-sticky;
    position: sticky;
    top:0; */
    margin-bottom:20px;
}

.search-input{
    margin-top:5px;
    margin-bottom:10px;
    margin-left:5px; 
    justify-content: flex-start;
}
.search-button{
    margin-top:5px !important;
    margin-bottom:10px !important;
    margin-left: 5px !important;
}

.ui.segment {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background:lightblue;
}

.masthead.segment {
    min-height: 375px;
}


.footer.segment {
    min-height: 125px;
}

#search-history button {
    display: inline-block;
    margin-top: 10px;
}

@media only screen and (max-width: 400px){
    .flex-wrapper{
        display: block;
    }
    .btn-flex-wrapper{
        width:100%;
        display: flex;
    }
    .search-button{
        width: 80%;
        margin-left:auto !important;
        margin-right:auto !important;
    }
}
/* Date of events, sits below Name of Event. */
span.date {
    color: crimson;
    font-weight: bold;
}
span.date::before {
    content: 'Date - ';
    color:crimson;
}
#ticketBtn {
    background: #2185d0;
    border: 1px solid black;
    color:white;
}
.ui.cards>.card>.content {
    background: lightgray;
    justify-content: center;
}
.ui.cards{
    justify-content: center;
    max-width: 1245px;
  
}
.ui.cards>.card {
    border:1px solid;
    box-shadow: 4px 4px 7px;
}
.hidden {
    display:none;
}
